@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(135deg, rgb(255, 64, 64), rgb(60, 60, 255));

  .container {
    width: 100%;
    max-width: 600px;

    padding-top: 10%;
    padding-left: 10%;

    h1 {
      margin: 2rem 0;

      color: white;
      font-size: 3rem;

      span {
        color: rgb(255, 255, 160);
      }
    }

    .input_box {
      width: 500px;
      height: 100px;
      border-radius: 5px;

      margin-right: 10px;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.212);

      display: flex;
      align-items: center;

      input {
        flex: 1;
        height: 100%;
        margin-right: 10px;
        border-radius: 5px;

        border: none;
        outline: 0;
        padding: 5px 10px;
        font-size: 16px;
      }

      button {
        padding: 10px 20px;
        border-radius: 5px;

        border: none;
        outline: none;

        background-color: rgb(255, 255, 160);
      }
    }
    p {
      margin-top: 1rem;
      color: white;
      font-size: 18px;

      span {
        color: rgb(255, 255, 160);
      }
    }
  }
}
